*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

body, main, footer{
    position: relative;
    background: #fff;
}

/*** HEADER ***/
#menu, #cruce, #shopping_cart{
    background-color:white;
    border: none ;
}

#header_mobile{
    position: absolute;
width: 720px;
height: 72px;
left: 0px;
top: 0px;
}

#menu{
    position: absolute;
width: 36px;
height: 36px;
left: 12px;
top: calc(50% - 36px/2);
}

#icon_menu{
    position: absolute;
left: 26.39%;
right: 26.39%;
top: 30.56%;
bottom: 30.56%;
}

#cruce{
    position: absolute;
width: 70%;
height: 56px;
right: 99px;
bottom: 8px;
}

#icon_portada{
    position: absolute;
left: 0.41%;
right: 6.41%;
top: 11.11%;
bottom: 11.02%;

}

#shopping_cart{
    position: absolute;
width: 47px;
height: 36px;
left: 280px;
top: 18px;

}

#icon_cart{
    position: absolute;
left: 11.11%;
right: 16.67%;
top: 22.22%;
bottom: 16.67%;
}

#number_three{
    position: absolute;
width: 0px;
height: 18px;
right: 12px;
top: calc(50% - 18px/2 + 8px);

font-family: 'Neue Machina';
font-style: normal;
font-weight: 800;
font-size: 16px;
line-height: 18px;
/* identical to box height, or 112% */

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.05em;
font-feature-settings: 'ss01' on, 'case' on;

/* 6-alerta */

color: #EC2227;

}

/*** TOP BANNER ***/

#top_banner{
    position: absolute;
    width: 390px;
left: 0px;
top: 72px;
background: #7D5A94;
}

#text_banner{
height: 15px;
left: 0px;
right: -501px;
top: calc(50% - 15px/2);
margin: 5px;

/* t2-b */

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 13px;
line-height: 15px;
/* identical to box height, or 115% */

letter-spacing: 0.01em;
font-feature-settings: 'ss01' on, 'case' on;
color: #FFFFFF;
white-space: pre;
}

#cerrado{
    position: absolute;
width: 30px;
height: 25px;
right: 0px;
left: 359px;
top: calc(50% - 25px/2);
background: #7D5A94;
}

#icon_cerrado{
    position: absolute;
left: 33.46%;
right: 33.46%;
top: 33.46%;
bottom: 33.46%;

}

/*** BUSCADOR ***/
#buscador{
    position: absolute;
left: 0%;
right: 0%;
top: 2.35%;
bottom: 96.6%;
background: #FFFFFF;
}

#buscador_2{
    position: absolute;
    width: 352px;
height: 36px;
left: 18px;
right: 385px;
top: 110px;
border: 1px solid #C8C8C8;
border-radius: 3px;
}

#lupa{
    position: absolute;
width: 30px;
height: 30px;
left: 4px;
top: calc(50% - 30px/2);
}

#icon_lupa{
    position: absolute;
left: 22.21%;
right: 25%;
top: 25%;
bottom: 22.22%;
}

#sugerencia{
    position: absolute;
width: 161px;
height: 18px;
left: 36px;
top: calc(50% - 18px/2);

/* t1-r */

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;
/* identical to box height, or 120% */

display: flex;
align-items: center;
color: #8C8C8C;
}












/*** 721 PX ***/
@media screen and (min-width: 721px) {
    
}