*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

body, main, footer{
    position: relative;
    background: #fff;
}

/*** HEADER ***/
#menu, #cruce, #shopping_cart{
    background-color:white;
    border: none ;
}

#header_mobile{
    position: absolute;
width: 720px;
height: 72px;
left: 0px;
top: 0px;
}

#menu{
    position: absolute;
width: 36px;
height: 36px;
left: 12px;
top: calc(50% - 36px/2);
}

#icon_menu{
    position: absolute;
left: 26.39%;
right: 26.39%;
top: 30.56%;
bottom: 30.56%;
}

#cruce{
    position: absolute;
width: 70%;
height: 56px;
right: 99px;
bottom: 8px;
}

#icon_portada{
    position: absolute;
left: 0.41%;
right: 6.41%;
top: 11.11%;
bottom: 11.02%;

}

#shopping_cart{
    position: absolute;
width: 47px;
height: 36px;
left: 280px;
top: 18px;

}

#icon_cart{
    position: absolute;
left: 11.11%;
right: 16.67%;
top: 22.22%;
bottom: 16.67%;
}

#number_three{
    position: absolute;
width: 0px;
height: 18px;
right: 12px;
top: calc(50% - 18px/2 + 8px);

font-family: 'Neue Machina';
font-style: normal;
font-weight: 800;
font-size: 16px;
line-height: 18px;
/* identical to box height, or 112% */

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.05em;
font-feature-settings: 'ss01' on, 'case' on;

/* 6-alerta */

color: #EC2227;

}

/*** TOP BANNER ***/

#top_banner{
    position: absolute;
    width: 390px;
left: 0px;
top: 72px;
background: #7D5A94;
}

#text_banner{
    position: absolute;
    height: 26px;
    left: 0px;
    right: -501px;
    top: calc(50% - 15px/2);
    
    /* t2-b */
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    /* identical to box height, or 115% */
    
    letter-spacing: 0.01em;
    font-feature-settings: 'ss01' on, 'case' on;
    
    background: #7D5A94;
    color: #FFFFFF;
white-space: pre;
padding: 5px;
}

#cerrado{
    position: absolute;
width: 30px;
height: 23px;
right: 35px;
top: calc(50% - 13px/2);
background: #7D5A94;
}

#icon_cerrado{
    position: absolute;
left: 33.46%;
right: 33.46%;
top: 33.46%;
bottom: 33.46%;

}

/*** BUSCADOR ***/
#buscador{
    position: absolute;
left: 0%;
right: 0%;
top: 2.35%;
bottom: 96.6%;
background: #FFFFFF;
}

#buscador_2{
    position: absolute;
    width: 315px;
height: 36px;
left: 18px;
right: 385px;
top: 110px;
border: 1px solid #C8C8C8;
border-radius: 3px;
}

#lupa{
    position: absolute;
width: 30px;
height: 30px;
left: 4px;
top: calc(50% - 30px/2);
}

#icon_lupa{
    position: absolute;
left: 22.21%;
right: 25%;
top: 25%;
bottom: 22.22%;
}

#sugerencia{
    position: absolute;
width: 161px;
height: 18px;
left: 36px;
top: calc(50% - 18px/2);

/* t1-r */

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;
/* identical to box height, or 120% */

display: flex;
align-items: center;
color: #8C8C8C;
}

/*** ARTICULOS ***/

#titulo{
    position: absolute;
height: 30px;
left: -35px;
right: -1025px;
top: 0px;
white-space: pre;

/* h4 */

font-family: 'Neue Machina';
font-style: normal;
font-weight: 800;
font-size: 27px;
line-height: 30px;
/* identical to box height, or 111% */

font-feature-settings: 'zero' on;

/* black */

color: #000000;
}

#temporada{
    position: absolute;
left: 45px;
top: 180px;

}

#articulo{
    position: absolute;
width: 142px;
height: 298px;
left: -30px;
top: 54px;
background: #FFFFFF;
border-radius: 6px;
}

#div_articulo{
    position: absolute;
width: 130px;
height: 178px;
left: 0px;
top: 0px;

}

#img_articulo{
    position: absolute;
    width: 130px;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

#ficha{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 6px;

position: absolute;
height: 108px;
left: 6px;
right: 6px;
bottom: 6px;

}

#marca_nombre{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 130px;
height: 48px;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}
#marca{
    width: 130px;
height: 18px;

/* btn */

font-family: 'Neue Machina';
font-style: normal;
font-weight: 800;
font-size: 16px;
line-height: 18px;
/* identical to box height, or 112% */

letter-spacing: 0.05em;
font-feature-settings: 'ss01' on, 'case' on;

/* 3-wabro */

color: #7D5A94;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

#nombre{
    width: 130px;
height: 30px;

/* t2-r */

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 15px;
/* or 115% */

font-feature-settings: 'ss01' on, 'case' on;

/* black */

color: #000000;


/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}

#cuota_final{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 6px;

width: 130px;
height: 54px;


/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}

#cuota{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 130px;
height: 33px;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

#final{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 3px;

width: 127px;
height: 15px;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

#texto_cuota{
    width: 130px;
height: 15px;

/* t2-r */

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 15px;
/* identical to box height, or 115% */

display: flex;
align-items: center;
font-feature-settings: 'ss01' on, 'case' on;

/* g8 */

color: #505050;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

#precio{
    width: 130px;
height: 18px;

/* t1-b */

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 18px;
/* identical to box height, or 112% */

display: flex;
align-items: center;
font-feature-settings: 'ordn' on, 'liga' off;

/* black */

color: #000000;


/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}

#texto_final{
    width: 33px;
height: 15px;

/* t2-r */

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 15px;
/* identical to box height, or 115% */

display: flex;
align-items: center;
font-feature-settings: 'ss01' on, 'case' on;

/* black */

color: #000000;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

#antes{
    width: 44px;
height: 15px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 15px;
/* identical to box height, or 115% */

display: flex;
align-items: center;
text-decoration-line: line-through;
font-feature-settings: 'ss01' on, 'case' on;

/* g6 */

color: #8C8C8C;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

#despues{
    width: 44px;
height: 15px;

/* t2-b */

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 13px;
line-height: 15px;
/* identical to box height, or 115% */

display: flex;
align-items: center;
letter-spacing: 0.01em;
font-feature-settings: 'ss01' on, 'case' on;

/* 6-alerta */

color: #EC2227;


/* Inside auto layout */

flex: none;
order: 2;
flex-grow: 0;
}

/*** ARTICULO 2 ***/
#articulo_2{
    position: absolute;
width: 142px;
height: 298px;
left: -30px;
top: 376px;

/* blanco */

background: #FFFFFF;
border-radius: 6px;
}

#div_articulo_2{
    position: absolute;
left: 6px;
right: 6px;
top: 0px;
bottom: 120px;
}

#img_articulo_2{
    position: absolute;
width: 130px;
height: 178px;
left: 0px;
top: 0px;
}

#ficha_2{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 6px;

position: absolute;
height: 108px;
left: 6px;
right: 6px;
bottom: 6px;
}

#marca_nombre_2{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 130px;
height: 48px;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

#marca_2{
    width: 130px;
height: 18px;

/* btn */

font-family: 'Neue Machina';
font-style: normal;
font-weight: 800;
font-size: 16px;
line-height: 18px;
/* identical to box height, or 112% */

letter-spacing: 0.05em;
font-feature-settings: 'ss01' on, 'case' on;

/* 3-wabro */

color: #7D5A94;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

#nombre_2{
    width: 130px;
height: 30px;

/* t2-r */

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 15px;
/* or 115% */

font-feature-settings: 'ss01' on, 'case' on;

/* black */

color: #000000;


/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}

#cuota_final_2{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 6px;

width: 130px;
height: 54px;


/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}

#cuota_2{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 130px;
height: 33px;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

#final_2{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 3px;

width: 127px;
height: 15px;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

#texto_cuota_2{
    width: 130px;
height: 15px;

/* t2-r */

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 15px;
/* identical to box height, or 115% */

display: flex;
align-items: center;
font-feature-settings: 'ss01' on, 'case' on;

/* g8 */

color: #505050;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

#precio_2{
    width: 130px;
height: 18px;

/* t1-b */

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 18px;
/* identical to box height, or 112% */

display: flex;
align-items: center;
font-feature-settings: 'ordn' on, 'liga' off;

/* black */

color: #000000;


/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}

#texto_final_2{
    width: 33px;
height: 15px;

/* t2-r */

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 15px;
/* identical to box height, or 115% */

display: flex;
align-items: center;
font-feature-settings: 'ss01' on, 'case' on;

/* black */

color: #000000;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

#antes_2{
    width: 44px;
height: 15px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 15px;
/* identical to box height, or 115% */

display: flex;
align-items: center;
text-decoration-line: line-through;
font-feature-settings: 'ss01' on, 'case' on;

/* g6 */

color: #8C8C8C;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

#despues_2{
    width: 44px;
height: 15px;

/* t2-b */

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 13px;
line-height: 15px;
/* identical to box height, or 115% */

display: flex;
align-items: center;
letter-spacing: 0.01em;
font-feature-settings: 'ss01' on, 'case' on;

/* 6-alerta */

color: #EC2227;


/* Inside auto layout */

flex: none;
order: 2;
flex-grow: 0;
}

/*** ARTICULO 3 ***/

#articulo_3{
    position: absolute;
width: 142px;
height: 298px;
left: 150px;
top: 114px;

/* blanco */

background: #FFFFFF;
border-radius: 6px;
}

#div_articulo_3{
    position: absolute;
left: 6px;
right: 6px;
top: 0px;
bottom: 120px;
}

#img_articulo_3{
    position: absolute;
width: 130px;
height: 178px;
left: 0px;
top: 0px;
}

#ficha_3{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 6px;

position: absolute;
height: 108px;
left: 6px;
right: 6px;
bottom: 6px;
}

#marca_nombre_3{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 130px;
height: 48px;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

#marca_3{
    width: 130px;
height: 18px;

/* btn */

font-family: 'Neue Machina';
font-style: normal;
font-weight: 800;
font-size: 16px;
line-height: 18px;
/* identical to box height, or 112% */

letter-spacing: 0.05em;
font-feature-settings: 'ss01' on, 'case' on;

/* 3-wabro */

color: #7D5A94;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

#nombre_3{
    width: 130px;
height: 30px;

/* t2-r */

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 15px;
/* or 115% */

font-feature-settings: 'ss01' on, 'case' on;

/* black */

color: #000000;


/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}

#cuota_final_3{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 6px;

width: 130px;
height: 54px;


/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}

#cuota_3{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 130px;
height: 33px;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

#texto_cuota_3{
    width: 130px;
height: 15px;

/* t2-r */

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 15px;
/* identical to box height, or 115% */

display: flex;
align-items: center;
font-feature-settings: 'ss01' on, 'case' on;

/* g8 */

color: #505050;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

#precio_3{
    width: 130px;
height: 18px;

/* t1-b */

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 18px;
/* identical to box height, or 112% */

display: flex;
align-items: center;
font-feature-settings: 'ordn' on, 'liga' off;

/* black */

color: #000000;


/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}

#final_3{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 3px;

width: 127px;
height: 15px;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

#texto_final_3{
    width: 33px;
height: 15px;

/* t2-r */

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 15px;
/* identical to box height, or 115% */

display: flex;
align-items: center;
font-feature-settings: 'ss01' on, 'case' on;

/* black */

color: #000000;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

#antes_3{
    width: 44px;
height: 15px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 15px;
/* identical to box height, or 115% */

display: flex;
align-items: center;
text-decoration-line: line-through;
font-feature-settings: 'ss01' on, 'case' on;

/* g6 */

color: #8C8C8C;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

#despues_3{
    width: 44px;
height: 15px;

/* t2-b */

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 13px;
line-height: 15px;
/* identical to box height, or 115% */

display: flex;
align-items: center;
letter-spacing: 0.01em;
font-feature-settings: 'ss01' on, 'case' on;

/* 6-alerta */

color: #EC2227;


/* Inside auto layout */

flex: none;
order: 2;
flex-grow: 0;
}

/*** ARTICULO 4 ***/

#articulo_4{
    position: absolute;
width: 142px;
height: 298px;
left: 150px;
top: 436px;

/* blanco */

background: #FFFFFF;
border-radius: 6px;
}

#div_articulo_4{
    position: absolute;
left: 6px;
right: 6px;
top: 0px;
bottom: 120px;
}

#img_articulo_4{
    position: absolute;
width: 130px;
height: 178px;
left: 0px;
top: 0px;
}

#ficha_4{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 6px;

position: absolute;
height: 108px;
left: 6px;
right: 6px;
bottom: 6px;
}

#marca_nombre_4{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 130px;
height: 48px;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

#marca_4{
    width: 130px;
height: 18px;

/* btn */

font-family: 'Neue Machina';
font-style: normal;
font-weight: 800;
font-size: 16px;
line-height: 18px;
/* identical to box height, or 112% */

letter-spacing: 0.05em;
font-feature-settings: 'ss01' on, 'case' on;

/* 3-wabro */

color: #7D5A94;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

#nombre_4{
    width: 130px;
height: 30px;

/* t2-r */

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 15px;
/* or 115% */

font-feature-settings: 'ss01' on, 'case' on;

/* black */

color: #000000;


/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}

#cuota_final_4{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 6px;

width: 130px;
height: 54px;


/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}

#cuota_4{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 130px;
height: 33px;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

#texto_cuota_4{
    width: 130px;
height: 15px;

/* t2-r */

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 15px;
/* identical to box height, or 115% */

display: flex;
align-items: center;
font-feature-settings: 'ss01' on, 'case' on;

/* g8 */

color: #505050;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;

}

#precio_4{
    width: 130px;
height: 18px;

/* t1-b */

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 18px;
/* identical to box height, or 112% */

display: flex;
align-items: center;
font-feature-settings: 'ordn' on, 'liga' off;

/* black */

color: #000000;


/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}

#final_4{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 3px;

width: 127px;
height: 15px;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

#texto_final_4{
    width: 33px;
height: 15px;

/* t2-r */

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 15px;
/* identical to box height, or 115% */

display: flex;
align-items: center;
font-feature-settings: 'ss01' on, 'case' on;

/* black */

color: #000000;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

#antes_4{
    width: 44px;
height: 15px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 15px;
/* identical to box height, or 115% */

display: flex;
align-items: center;
text-decoration-line: line-through;
font-feature-settings: 'ss01' on, 'case' on;

/* g6 */

color: #8C8C8C;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

#despues_4{
    width: 44px;
height: 15px;

/* t2-b */

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 13px;
line-height: 15px;
/* identical to box height, or 115% */

display: flex;
align-items: center;
letter-spacing: 0.01em;
font-feature-settings: 'ss01' on, 'case' on;

/* 6-alerta */

color: #EC2227;


/* Inside auto layout */

flex: none;
order: 2;
flex-grow: 0;
}

/*** WHATSAPP ***/

#whatsapp{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 60px;
height: 60px;
left: 220px;
top: 287px;

border-radius: 30px;
}

#img_whatsapp{
    width: 75px;
height: 75px;
flex: none;
order: 1;
align-self: flex-start;
flex-grow: 0;
}

/*** PESTAÑA ***/

#pestana{
    position: absolute;
width: 192px;
height: 96px;
left: -32px;
top: 266px;

}

#control{
    position: absolute;
width: 24px;
height: 24px;
right: 6px;
top: 0px;
background: #FFFFFF;
border: 2px solid #000000;
border-radius: 24px;
z-index: 1;
}

#icono{
    position: absolute;
width: 18px;
height: 18px;
left: 1px;
top: 1px;

}

#cerrar{
    position: absolute;
left: 12.5%;
right: 12.5%;
top: 12.5%;
bottom: 12.5%;

}

#vector_cierre{
    position: absolute;
left: 33.46%;
right: 33.46%;
top: 33.46%;
bottom: 33.46%;
}

#texto_pestana{
    position: absolute;
height: 36px;
left: 12px;
right: 0px;
bottom: 42px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 18px;
z-index: 1;

display: flex;
align-items: center;
font-feature-settings: 'ordn' on, 'liga' off;
}

#forma{
    position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
}

#boton{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 24px;
    gap: 10px;
    
    position: absolute;
    width: 175px;
    height: 48px;
    left: 50px;
    top: 746px;
    
    /* 2-user */
    
    background: #F26522;
    /* black */
    
    border: 2px solid #000000;
    /* btn */
    
    box-shadow: 3px 3px 0px #000000;
    border-radius: 6px;
}

#texto_boton{
    width: 127px;
height: 18px;

/* btn */

font-family: 'Neue Machina';
font-style: normal;
font-weight: 800;
font-size: 16px;
line-height: 18px;
/* identical to box height, or 112% */

display: flex;
align-items: center;
text-align: center;
justify-content: center;
letter-spacing: 0.05em;
font-feature-settings: 'ss01' on, 'case' on;

/* blanco */

color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

/*** MARCAS ***/

#marcas{
    position: absolute;
width: 340px;
height: 132px;
left: 7px;
top: 1022px;
}

#texto_marcas{
    position: absolute;
height: 30px;
left: 7px;
right: 0px;
top: 0px;

/* h4 */

font-family: 'Neue Machina';
font-style: normal;
font-weight: 800;
font-size: 36px;
line-height: 30px;
/* identical to box height, or 111% */

display: flex;
align-items: center;
justify-content: center;
text-align: center;
font-feature-settings: 'zero' on;

color: #7D5A94;
}

#marcas_slide{
    position: absolute;
left: 0px;
right: 0px;
top: 36px;
bottom: 0px;
overflow-x: scroll;
}

#logos{
    display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 18px;

position: absolute;
width: 100px;
height: 60px;
top: 18px;
}

#marca_disney{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 12px 24px;
gap: 10px;

width: 133px;
height: 60px;

/* blanco */

background: #FFFFFF;
/* sombra1 */

box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.15);
border-radius: 3px;

/* Inside auto layout */

flex: none;
order: 4;
flex-grow: 0;

}

#disney{
    width: 85px;
height: 36px;

flex: none;
order: 0;
flex-grow: 0;
}

#marca_marvel{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 12px 24px;
gap: 10px;

width: 137.63px;
height: 60px;

/* blanco */

background: #FFFFFF;
/* sombra1 */

box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.15);
border-radius: 9px;

/* Inside auto layout */

flex: none;
order: 4;
flex-grow: 0;
}

#marvel{
    width: 89.63px;
height: 36px;

flex: none;
order: 0;
flex-grow: 0;
}

/*** BENEFICIOS ***/

#beneficios{
    position: absolute;
width: 340px;
height: 72px;
left: 7px;
top: 1178px;

/* blanco */

background: #FFFFFF;
}

#controles{
    position: absolute;
width: 326px;
height: 24px;
left: 6px;
top: 24px;
}

#control_izq{
    position: absolute;
width: 24.48px;
height: 24px;
left: 6px;
top: calc(50% - 24px/2);

/* blanco */

background: #FFFFFF;
/* g2 */

border: 1px solid #F0F0F0;
border-radius: 24px;
}

#icon_control_izq, #icon_control_der{
    position: absolute;
width: 18.36px;
height: 18px;
left: 3.06px;
top: 3px;
}

#drop_3{
    position: absolute;
left: -5.5%;
right: 27.5%;
top: -0.5%;
bottom: 38.5%;

}

#icon_drop_3{
    position: absolute;
left: 37.48%;
right: 37.48%;
top: 27.76%;
bottom: 27.76%;
}

#control_der{
    position: absolute;
width: 24.48px;
height: 24px;
right: 6px;
top: calc(50% - 24px/2);

/* blanco */

background: #FFFFFF;
/* g2 */

border: 1px solid #F0F0F0;
border-radius: 24px;
}

#drop_4{
    position: absolute;
left: 12.5%;
right: 27.5%;
top: -0.5%;
bottom: 38.5%;

}

#icon_drop_4{
    position: absolute;
left: 37.48%;
right: 37.48%;
top: 27.77%;
bottom: 27.76%;
}





/*** 721 PX ***/
@media screen and (min-width: 721px) {
    
} 