*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

@media screen and (max-width: 720px){

    /*** RUTA MOBILE ***/

#ruta_mobile{
    display: flex;
flex-direction: row;
align-items: center;
padding: 6px 0px;
gap: 12px;

position: absolute;
width: 499.5px;
height: 54px;
left: calc(50% - 499.5px/2);
top: 67px;

}

/*** RUTA TEXTOS ***/

#ruta_mobile_texto_1{
    width: 85.5px;
height: 37.5px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 37.5px;

display: flex;
align-items: center;
justify-content: center;

color: #8C8C8C;

flex: none;
order: 0;
flex-grow: 0;
}

#ruta_mobile_texto_2{
    width: 148.5px;
height: 37.5px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 37.5px;

display: flex;
align-items: center;
justify-content: center;

color: #8C8C8C;

flex: none;
order: 2;
flex-grow: 0;
}

#ruta_mobile_texto_3{
    width: 184.5px;
height: 37.5px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 37.5px;

display: flex;
align-items: center;
justify-content: center;
font-feature-settings: 'ordn' on, 'liga' off;

color: #000000;

flex: none;
order: 4;
flex-grow: 0;
}

/*** RUTAS BORDES ***/

#ruta_mobile_borde_1{
    width: 13.5px;
height: 37.5px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 37.5px;

display: flex;
align-items: center;

color: #8C8C8C;

flex: none;
order: 1;
flex-grow: 0;
}

#ruta_mobile_borde_2{
    width: 13.5px;
height: 37.5px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 37.5px;

display: flex;
align-items: center;

color: #8C8C8C;

flex: none;
order: 3;
flex-grow: 0;
}

    /*** FILTRAR MOBILE ***/

#filtrar_mobile{
    position: absolute;
    width: 612px;
    height: 81px;
    left: calc(50% - 612px/2);
    top: 175.5px;
    
    border: 4px solid #8C8C8C;
    border-radius: 12px;
}

#filtrar_mobile_drop{
    position: absolute;
width: 54px;
height: 54px;
left: 544.5px;
top: 10px;

}

#filtrar_mobile_drop_icono{
    position: absolute;
left: 37.48%;
right: 37.48%;
top: 27.77%;
bottom: 27.76%;
}

#filtrar_mobile_div_tit{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 6px;

position: absolute;
width: 157.5px;
height: 54px;
left: 13.5px;
top: calc(50% - 54px/2);
}

#filtrar_mobile_tit{
    width: 54px;
height: 54px;

flex: none;
order: 0;
align-self: flex-start;
flex-grow: 0;
}

#filtrar_mobile_tit_icono{
    position: absolute;
left: 7.06%;
right: 16.06%;
top: 30.22%;
bottom: 20.67%;

}

#filtrar_mobile_div_tit_texto{
    width: 96.75px;
height: 40.5px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 40.5px;

display: flex;
align-items: center;
justify-content: center;

color: #000000;

flex: none;
order: 1;
align-self: center;
flex-grow: 0;
}

}