*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

@media screen and (max-width: 720px){

    /*** RUTA MOBILE ***/

#ruta_mobile{
    display: flex;
flex-direction: row;
align-items: center;
padding: 6px 0px;
gap: 12px;

position: absolute;
width: 499.5px;
height: 54px;
left: 111px;
top: 67px;

}

/*** RUTA TEXTOS ***/

#ruta_mobile_texto_1{
    width: 85.5px;
height: 37.5px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 37.5px;

display: flex;
align-items: center;
justify-content: center;

color: #8C8C8C;

flex: none;
order: 0;
flex-grow: 0;
}

#ruta_mobile_texto_2{
    width: 148.5px;
height: 37.5px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 37.5px;

display: flex;
align-items: center;
justify-content: center;

color: #8C8C8C;

flex: none;
order: 2;
flex-grow: 0;
}

#ruta_mobile_texto_3{
    width: 184.5px;
height: 37.5px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 37.5px;

display: flex;
align-items: center;
justify-content: center;
font-feature-settings: 'ordn' on, 'liga' off;

color: #000000;

flex: none;
order: 4;
flex-grow: 0;
}

/*** RUTAS BORDES ***/

#ruta_mobile_borde_1{
    width: 13.5px;
height: 37.5px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 37.5px;

display: flex;
align-items: center;

color: #8C8C8C;

flex: none;
order: 1;
flex-grow: 0;
}

#ruta_mobile_borde_2{
    width: 13.5px;
height: 37.5px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 37.5px;

display: flex;
align-items: center;

color: #8C8C8C;

flex: none;
order: 3;
flex-grow: 0;
}

    /*** FILTRAR MOBILE ***/

#filtrar_mobile{
    position: absolute;
    width: 612px;
    height: 81px;
    left: 55px;
    top: 175.5px;
    
    border: 4px solid #8C8C8C;
    border-radius: 12px;
}

#filtrar_mobile_drop{
    position: absolute;
width: 54px;
height: 54px;
left: 544.5px;
top: 10px;

}

#filtrar_mobile_drop_icono{
    position: absolute;
left: 37.48%;
right: 37.48%;
top: 27.77%;
bottom: 27.76%;
}

#filtrar_mobile_div_tit{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 6px;

position: absolute;
width: 157.5px;
height: 54px;
left: 13.5px;
top: calc(50% - 54px/2);
}

#filtrar_mobile_tit{
    width: 54px;
height: 54px;

flex: none;
order: 0;
align-self: flex-start;
flex-grow: 0;
}

#filtrar_mobile_tit_icono{
    position: absolute;
left: 7.06%;
right: 16.06%;
top: 30.22%;
bottom: 20.67%;

}

#filtrar_mobile_div_tit_texto{
    width: 96.75px;
height: 40.5px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 40.5px;

display: flex;
align-items: center;
justify-content: center;

color: #000000;

flex: none;
order: 1;
align-self: center;
flex-grow: 0;
}

    /*** ORDENAR MOBILE ***/

#ordenar_mobile{
    position: absolute;
width: 612px;
height: 81px;
left: 55px;
top: 283.5px;

background: #FFFFFF;

border: 4px solid #F0F0F0;
border-radius: 6px;
}

#ordenar_mobile_div_drop{
    position: absolute;
width: 54px;
height: 54px;
right: 13.5px;
top: calc(50% - 54px/2);
}

#ordenar_mobile_drop{
    position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

}

#ordenar_mobile_icono{
    position: absolute;
left: 27.77%;
right: 27.77%;
top: 37.49%;
bottom: 37.48%;

}

/*** ORDENAR MOBILE TEXTO ***/

#ordenar_mobile_texto{
    position: absolute;
height: 40.5px;
left: 20.25px;
right: 67.5px;
top: calc(50% - 40.5px/2);

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 40.5px;

display: flex;
align-items: center;

color: #505050;
}

/*** RODENAR MOBILE BANNER FUNKO ***/

#ordenar_mobile_img_funko{
    position: absolute;
left: -9.5%;
right: 0%;
bottom: 84.29%;

width: 718px;
height: 270px;
top: 130px;

}














}